### iOS App files ###
"iOS App/*.xcscheme"
"iOS App/*.xcbkptlist"
"iOS App/InventoryManager.xcworkspace/**"

# Pods
"iOS App/Pods/Target Support Files/**"
"iOS App/Pods/Protobuf/**"
"iOS App/Podfile.lock"
"iOS App/Pods/Manifest.lock"
"iOS App/Pods/Pods.xcodeproj/xcuserdata/alex.xcuserdatad/xcschemes/xcschememanagement.plist"
"iOS App/Pods/Pods.xcodeproj/**"
"iOS App/Pods/Manifest.lock"
"iOS App/Pods/Target Support Files/**"

# Firebase
"iOS App/Pods/FirebaseAnalyticsInterop/**"
"iOS App/Pods/FirebaseMessaging/**"
"iOS App/Pods/Headers/Private/FirebaseAnalyticsInterop/**"
"iOS App/Pods/Headers/Public/FirebaseAnalyticsInterop/**"
"iOS App/Pods/FirebaseCore/**"
"iOS App/Pods/FirebaseInstallations/"
"iOS App/Pods/GoogleDataTransportCCTSupport/**"
"iOS App/Pods/GoogleDataTransport/**"
"iOS App/Pods/GoogleDataTransportCCTSupport/**"
"iOS App/Pods/GoogleUtilities/**"
"iOS App/Pods/GoogleAppMeasurement/**"
"iOS App/Pods/Firebase/**"
"iOS App/Pods/FirebaseAnalytics/**"
"iOS App/Pods/FirebaseAuth/**"
"iOS App/Pods/FirebaseCoreDiagnostics/**"
"iOS App/Pods/FirebaseDatabase/"
"iOS App/Pods/FirebaseCoreDiagnosticsInterop/**"
"iOS App/Pods/FirebaseInstanceID/**"
"iOS App/Pods/FirebaseMessaging/**"
"iOS App/Pods/GTMSessionFetcher/**"

# Algolia
"iOS App/Pods/InstantSearch/**"
"iOS App/Pods/InstantSearchClient/**"
"iOS App/Pods/InstantSearchCore/**"

# Promise
"iOS App/Pods/PromisesObjC/"

# Entitlements
"iOS App/InventoryManager/InventoryManager.entitlements"

### Functions ###
Functions/functions/nodpackage-lock.json
Functions/functions/node_modules/

# Logs
Functions/functions/logs
Functions/functions/*.log
Functions/functions/npm-debug.log*
Functions/functions/yarn-debug.log*
Functions/functions/yarn-error.log*
Functions/functions/firebase-debug.log*

# Firebase cache
Functions/.firebase/

# Runtime data
Functions/functions/pids
Functions/functions/*.pid
Functions/functions/*.seed
Functions/functions/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
Functions/functions/lib-cov

# Coverage directory used by tools like istanbul
Functions/functions/coverage

# nyc test coverage
Functions/functions/nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
Functions/functions/.grunt

# Bower dependency directory (https://bower.io/)
Functions/functions/bower_components

# node-waf configuration
Functions/functions/.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
Functions/functions/build/Release

# Dependency directories
Functions/functions/node_modules/

# Optional npm cache directory
Functions/functions/.npm

# Optional eslint cache
Functions/functions/.eslintcache

# Optional REPL history
Functions/functions/.node_repl_history

# Output of 'npm pack'
Functions/functions/*.tgz

# Yarn Integrity file
Functions/functions/.yarn-integrity

# dotenv environment variables file
Functions/functions/.env
