<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027888593273-ssea4rc3k35i67asgrn0r7hbfqvca835.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027888593273-ssea4rc3k35i67asgrn0r7hbfqvca835</string>
	<key>API_KEY</key>
	<string>AIzaSyCcA2K6iEIOSwAICbqkDKPzO_CvqmXirGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1027888593273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexkgrimes.InventoryManager</string>
	<key>PROJECT_ID</key>
	<string>inventorymanager-7ab9a</string>
	<key>STORAGE_BUCKET</key>
	<string>inventorymanager-7ab9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027888593273:ios:c8ec5be4eaf4f7ed5857a8</string>
	<key>DATABASE_URL</key>
	<string>https://inventorymanager-7ab9a.firebaseio.com</string>
</dict>
</plist>